@model IEnumerable<Banca.Models.Orden>
@{
    ViewData["Title"] = "Gestión de Órdenes";
}

<h1>Gestión de Órdenes</h1>

<p>
    <a asp-action="Create">Crear Orden</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSucursal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modificar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
